<h1>About Us</h1>
<p>
	The Hanfthal Learning App is a project to help children in school. It shall have the possibility to add vocabulary in two or more languages and then train this vocabulary.
</p>
